@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ficon:hover {
    filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
      brightness(105%) contrast(104%);
  }
}
